USE [master]
GO
/****** Nesnesi: Database [SinemaVT] Betik Tarihi: 19.05.2026 23:05:08 ******/
CREATE DATABASE [SinemaVT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SinemaVT', FILENAME = N'D:\indir\MSSQL16.SQLEXPRESS\MSSQL\DATA\SinemaVT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SinemaVT_log', FILENAME = N'D:\indir\MSSQL16.SQLEXPRESS\MSSQL\DATA\SinemaVT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SinemaVT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SinemaVT]
GO
/****** Nesnesi: Table [dbo].[Sinema] Betik Tarihi: 19.05.2026 23:05:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinema](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[filmAdi] [varchar](50) NULL,
	[salonNo] [varchar](10) NULL,
	[seansSaat] [varchar](20) NULL,
	[koltukNo] [varchar](10) NULL,
	[musteriAdi] [varchar](50) NULL,
	[odemeDurum] [varchar](20) NULL,
	[filmTur] [varchar](30) NULL,
	[menuBoyut] [varchar](30) NULL,
	[toplamFiyat] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
